# we want to get the git commit SHA but not all the binary repo data
.git/objects/pack
bin/
vagrant/
docs/
scripts/gobgp
*.tar
*.bz2
# export from a docker container, no need to copy into any docker containers
install/v2plugin/rootfs
