# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

#ide files
*.swp

# vagrant
.vagrant

bin/*

resolv.conf

# python
*.pyc

# cscope db
cscope*

# k8s vagrant and ansible temp files
.contiv_k8s_inventory
.out.vagrant
.etc_hosts

# version
version/version_gen.go
