# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so
*.bz2

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

#ide files
*.swp

# vagrant
.vagrant

bin/*

# python
*.pyc

# cscope db
cscope*

# k8s vagrant and ansible temp files
.contiv_k8s_inventory
.out.vagrant
.etc_hosts

# docker v2 plugin files
install/v2plugin/rootfs
install/v2plugin/config.json
install/v2plugin/v2plugin-*.tar.gz

# netcontain temporary build files
scripts/netContain/bin

# OS specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# test files
test/systemtests/cfg.json

.vagrant-state

netplugin-version

# release artifacts
scripts/netContain/*.tgz
scripts/netContain/*.tar.bz2

vagrant/k8s/export/.contiv.yaml*
vagrant/k8s/contrib
